# Python
*.pyc           # Compile Python Byte File
__pycache__/    # Python Cache
*.pyo           
*.pyd           # Python Dynamic Lib

# Virtual Env
venv/           # Virtual Env
.env            # Env Variable

# IDE
.vscode/        # VS Code Config
.idea/          # PyCharm Config
*.sublime-project
*.sublime-workspace

# Dump File
.DS_Store       # macOS
Thumbs.db       # Windows

# Log
*.log           # Log File
