{% load static %}
 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard - {% block title %} Main {% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      href="{% static 'css/vendors/flatpickr.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'style.css' %}" rel="stylesheet" />
    <script>
      if (
        localStorage.getItem('dark-mode') === 'false' ||
        !('dark-mode' in localStorage)
      ) {
        document.querySelector('html').classList.remove('dark');
        document.querySelector('html').style.colorScheme = 'light';
      } else {
        document.querySelector('html').classList.add('dark');
        document.querySelector('html').style.colorScheme = 'dark';
      }
    </script>
    {% block load %}{% endblock load %}
  </head>
 
  <body
    class="font-inter antialiased bg-slate-100 dark:bg-slate-900 text-slate-600 dark:text-slate-400"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true', newDeviceOpen: false }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
    {%
    block
    jscontrol
    %}{%
    endblock
    jscontrol
    %}
  >
    <script>
      if (localStorage.getItem('sidebar-expanded') == 'true') {
        document.querySelector('body').classList.add('sidebar-expanded');
      } else {
        document.querySelector('body').classList.remove('sidebar-expanded');
      }
    </script>
 
    <!-- Page wrapper -->
    <div class="flex h-[100dvh] overflow-hidden">
      {% block sidebar %}
      <!-- Sidebar -->
      <div class="min-w-fit">
        <!-- Sidebar backdrop (mobile only) -->
        <div
          class="fixed inset-0 bg-slate-900 bg-opacity-30 z-40 lg:hidden lg:z-auto transition-opacity duration-200"
          :class="sidebarOpen ? 'opacity-100' : 'opacity-0 pointer-events-none'"
          aria-hidden="true"
          x-cloak
        ></div>
 
        <!-- Sidebar -->
        <div
          id="sidebar"
          class="flex flex-col absolute z-40 left-0 top-0 lg:static lg:left-auto lg:top-auto lg:translate-x-0 h-[100dvh] overflow-y-scroll lg:overflow-y-auto no-scrollbar w-64 lg:w-20 lg:sidebar-expanded:!w-64 2xl:!w-64 shrink-0 bg-slate-800 p-4 transition-all duration-200 ease-in-out"
          :class="sidebarOpen ? 'translate-x-0' : '-translate-x-64'"
          @click.outside="sidebarOpen = false"
          @keydown.escape.window="sidebarOpen = false"
          x-cloak="lg"
        >
          <!-- Sidebar header -->
          <div class="flex justify-between mb-10 pr-3 sm:px-2">
            <!-- Close button -->
            <button
              class="lg:hidden text-slate-500 hover:text-slate-400"
              @click.stop="sidebarOpen = !sidebarOpen"
              aria-controls="sidebar"
              :aria-expanded="sidebarOpen"
            >
              <span class="sr-only">Close sidebar</span>
              <svg
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.7 18.7l1.4-1.4L7.8 13H20v-2H7.8l4.3-4.3-1.4-1.4L4 12z"
                />
              </svg>
            </button>
            <!-- Logo -->
            <a class="block" href="{% url 'management' %}">
              <div class="grid grid-cols-2 gap-4 place-items-center">
                <img
                  src="{% static 'images/exacta_logo.jpg' %}"
                  alt="Penn State Logo"
                  class="w-24 h-auto"
                />
                <img
                  src="{% static 'images/acme-logo.png' %}"
                  alt="Exacta Logo"
                  class="w-24 h-auto"
                />
                <img
                  src="{% static 'images/onem2m-logo.png' %}"
                  alt="OneM2M Logo"
                  class="w-24 h-auto"
                />
                <img
                  src="{% static 'images/nordic-logo.svg' %}"
                  alt="Nordic Logo"
                  class="w-24 h-auto rounded-sm"
                />
                <img
                  src="{% static 'images/penn-state-logo.png' %}"
                  alt="ACME Logo"
                  class="w-24 h-auto"
                />
              </div>
            </a>
          </div>
 
          <!-- Links -->
          <div class="space-y-8">
            <!-- Pages group -->
            <div>
              <h3 class="text-xs uppercase text-slate-500 font-semibold pl-3">
                <span
                  class="hidden lg:block lg:sidebar-expanded:hidden 2xl:hidden text-center w-6"
                  aria-hidden="true"
                  >•••</span
                >
                <span class="lg:hidden lg:sidebar-expanded:block 2xl:block"
                  >Menu</span
                >
              </h3>
              <ul class="mt-3">
                <!-- Dashboard -->
                <li
                  class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900"
                  x-data="{ open: true }"
                >
                  <a
                    class="block text-slate-200 truncate transition duration-150"
                    href="#0"
                    @click.prevent="open = !open; sidebarExpanded = true"
                  >
                    <div class="flex items-center justify-between">
                      <div class="flex items-center">
                        <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                          <path
                            class="fill-current text-indigo-500"
                            d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0z"
                          />
                          <path
                            class="fill-current text-indigo-600"
                            d="M12 3c-4.963 0-9 4.037-9 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9z"
                          />
                          <path
                            class="fill-current text-indigo-200"
                            d="M12 15c-1.654 0-3-1.346-3-3 0-.462.113-.894.3-1.285L6 6l4.714 3.301A2.973 2.973 0 0112 9c1.654 0 3 1.346 3 3s-1.346 3-3 3z"
                          />
                        </svg>
                        <span
                          class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                          >Dashboard</span
                        >
                      </div>
                      <!-- Icon -->
                      <div
                        class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                      >
                        <svg
                          class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400"
                          :class="open ? 'rotate-180' : 'rotate-0'"
                          viewBox="0 0 12 12"
                        >
                          <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                        </svg>
                      </div>
                    </div>
                  </a>
                  <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
                    <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 transition duration-150 truncate"
                          href="{% url 'management' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Main</span
                          >
                        </a>
                      </li>
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate"
                          href="{% url 'device' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Device</span
                          >
                        </a>
                      </li>
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate"
                          href="{% url 'firmware_list' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Firmware</span
                          >
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <!-- Widgets -->
                <li
                  class="px-3 py-2 rounded-sm mb-0.5 last:mb-0"
                  x-data="{ open: true }"
                >
                  <a
                    class="block text-slate-200 hover:text-white truncate transition duration-150"
                    href="#0"
                    @click.prevent="open = !open; sidebarExpanded = true"
                  >
                    <div class="flex items-center justify-between">
                      <div class="flex items-center">
                        <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                          <circle
                            class="fill-current text-slate-400"
                            cx="18.5"
                            cy="5.5"
                            r="4.5"
                          />
                          <circle
                            class="fill-current text-slate-600"
                            cx="5.5"
                            cy="5.5"
                            r="4.5"
                          />
                          <circle
                            class="fill-current text-slate-600"
                            cx="18.5"
                            cy="18.5"
                            r="4.5"
                          />
                          <circle
                            class="fill-current text-slate-400"
                            cx="5.5"
                            cy="18.5"
                            r="4.5"
                          />
                        </svg>
                        <span
                          class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                          >Widgets</span
                        >
                      </div>
                      <!-- Icon -->
                      <div
                        class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                      >
                        <svg
                          class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400"
                          :class="open ? 'rotate-180' : 'rotate-0'"
                          viewBox="0 0 12 12"
                        >
                          <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                        </svg>
                      </div>
                    </div>
                  </a>
                  <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
                    <ul
                      class="pl-9 mt-1 hidden"
                      :class="open ? '!block' : 'hidden'"
                    >
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate"
                          href="{% url 'logs' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Log</span
                          >
                        </a>
                      </li>
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate"
                          href="{% url 'map' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Map</span
                          >
                        </a>
                      </li>
                      <li class="mb-1 last:mb-0">
                        <a
                          class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate"
                          href="{% url 'mesh' %}"
                        >
                          <span
                            class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200"
                            >Mesh</span
                          >
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
 
          <!-- Expand / collapse button -->
          <div
            class="pt-3 hidden lg:inline-flex 2xl:hidden justify-end mt-auto"
          >
            <div class="px-3 py-2">
              <button @click="sidebarExpanded = !sidebarExpanded">
                <span class="sr-only">Expand / collapse sidebar</span>
                <svg
                  class="w-6 h-6 fill-current sidebar-expanded:rotate-180"
                  viewBox="0 0 24 24"
                >
                  <path
                    class="text-slate-400"
                    d="M19.586 11l-5-5L16 4.586 23.414 12 16 19.414 14.586 18l5-5H7v-2z"
                  />
                  <path class="text-slate-600" d="M3 23H1V1h2z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endblock sidebar %}
 
      <!-- Content area -->
      {% block content %}
      <div
        class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden"
      >
        <!-- Site header -->
        {% block sidehead %}
        <header
          class="sticky top-0 bg-white dark:bg-[#182235] border-b border-slate-200 dark:border-slate-700 z-30"
        >
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16 -mb-px">
              <!-- Header: Left side -->
              <div class="flex">
                <!-- Hamburger button -->
                <button
                  class="text-slate-500 hover:text-slate-600 lg:hidden"
                  @click.stop="sidebarOpen = !sidebarOpen"
                  aria-controls="sidebar"
                  :aria-expanded="sidebarOpen"
                >
                  <span class="sr-only">Open sidebar</span>
                  <svg
                    class="w-6 h-6 fill-current"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect x="4" y="5" width="16" height="2" />
                    <rect x="4" y="11" width="16" height="2" />
                    <rect x="4" y="17" width="16" height="2" />
                  </svg>
                </button>
              </div>
 
              <!-- Header: Right side -->
              <div class="flex items-center space-x-3">
                <!-- Dark mode toggle -->
                <div>
                  <input
                    type="checkbox"
                    name="light-switch"
                    id="light-switch"
                    class="light-switch sr-only"
                  />
                  <label
                    class="flex items-center justify-center cursor-pointer w-8 h-8 bg-slate-100 hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-600/80 rounded-full"
                    for="light-switch"
                  >
                    <svg
                      class="w-4 h-4 dark:hidden"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="fill-current text-slate-400"
                        d="M7 0h2v2H7V0Zm5.88 1.637 1.414 1.415-1.415 1.413-1.414-1.414 1.415-1.414ZM14 7h2v2h-2V7Zm-1.05 7.433-1.415-1.414 1.414-1.414 1.415 1.413-1.414 1.415ZM7 14h2v2H7v-2Zm-4.02.363L1.566 12.95l1.415-1.414 1.414 1.415-1.415 1.413ZM0 7h2v2H0V7Zm3.05-5.293L4.465 3.12 3.05 4.535 1.636 3.121 3.05 1.707Z"
                      />
                      <path
                        class="fill-current text-slate-500"
                        d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 hidden dark:block"
                      viewBox="0 0 16 16"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="fill-current text-slate-400"
                        d="M6.2 2C3.2 2.8 1 5.6 1 8.9 1 12.8 4.2 16 8.1 16c3.3 0 6-2.2 6.9-5.2C9.7 12.2 4.8 7.3 6.2 2Z"
                      />
                      <path
                        class="fill-current text-slate-500"
                        d="M12.5 6a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 6Z"
                      />
                    </svg>
                    <span class="sr-only">Switch to light / dark version</span>
                  </label>
                </div>
 
                <!-- Divider -->
                <hr
                  class="w-px h-6 bg-slate-200 dark:bg-slate-700 border-none"
                />
 
                <!-- <img
                  src="{% static 'images/nordic-logo.svg' %}"
                  alt="Additional Logo"
                  width="50"
                  height="30"
                  class="rounded-sm"
                /> -->
 
                <!-- User button -->
                <div class="relative inline-flex" x-data="{ open: false }">
                  <button
                    class="inline-flex justify-center items-center group"
                    aria-haspopup="true"
                    @click.prevent="open = !open"
                    :aria-expanded="open"
                  >
                    <img
                      class="w-8 h-8 rounded-full"
                      src="{% static 'images/fish.svg' %}"
                      width="32"
                      height="32"
                      alt="User"
                    />
                    <div class="flex items-center truncate">
                      <span
                        class="truncate ml-2 text-sm font-medium dark:text-slate-300 group-hover:text-slate-800 dark:group-hover:text-slate-200"
                      >
                        {{ user.username }}
                      </span>
                      <svg
                        class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400"
                        viewBox="0 0 12 12"
                      >
                        <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                      </svg>
                    </div>
                  </button>
                  <div
                    class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 py-1.5 rounded shadow-lg overflow-hidden mt-1"
                    @click.outside="open = false"
                    @keydown.escape.window="open = false"
                    x-show="open"
                    x-transition:enter="transition ease-out duration-200 transform"
                    x-transition:enter-start="opacity-0 -translate-y-2"
                    x-transition:enter-end="opacity-100 translate-y-0"
                    x-transition:leave="transition ease-out duration-200"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    x-cloak
                  >
                    <div
                      class="pt-0.5 pb-2 px-3 mb-1 border-b border-slate-200 dark:border-slate-700"
                    >
                      <div
                        class="font-medium text-slate-800 dark:text-slate-100"
                      >
                        CMPEN 482W Capstone Project
                      </div>
                      <div
                        class="text-xs text-slate-500 dark:text-slate-400 italic"
                      >
                        Administrator
                      </div>
                    </div>
                    <ul>
                      <li>
                        <a
                          class="font-medium text-sm text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400 flex items-center py-1 px-3"
                          href="settings.html"
                          @click="open = false"
                          @focus="open = true"
                          @focusout="open = false"
                          >Settings</a
                        >
                      </li>
                      <li>
                        <form method="POST" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <button
                            type="submit"
                            class="font-medium text-sm text-indigo-500 hover:text-indigo-600 dark:hover:text-indigo-400 flex items-center py-1 px-3"
                            @click="open = false"
                            @focus="open = true"
                            @focusout="open = false"
                          >
                            Sign Out
                          </button>
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        {% endblock sidehead %} {% block canvas %} {% endblock canvas %}
      </div>
      {% endblock content %}
    </div>
 
    <!-- New Device Slide Over Panel -->
    <div
      class="fixed inset-0 z-50 flex justify-end"
      x-show="newDeviceOpen"
      @keydown.escape.window="newDeviceOpen = false"
      x-transition:enter="transition ease-in-out duration-500"
      x-transition:enter-start="opacity-0 transform translate-x-full"
      x-transition:enter-end="opacity-100 transform translate-x-0"
      x-transition:leave="transition ease-in-out duration-500"
      x-transition:leave-start="opacity-100 transform translate-x-0"
      x-transition:leave-end="opacity-0 transform translate-x-full"
      x-cloak
    >
      <!-- Slide Over Content -->
      <div class="pointer-events-auto w-screen max-w-md bg-white shadow-xl">
        <form
          class="flex h-full flex-col divide-y divide-gray-200"
          method="POST"
          action="{% url 'add_device' %}"
        >
          {% csrf_token %}
 
          <div class="h-0 flex-1 overflow-y-auto">
            <div class="bg-indigo-700 px-4 py-6 sm:px-6">
              <div class="flex items-center justify-between">
                <h2
                  class="text-base font-semibold leading-6 text-gray-900"
                  id="slide-over-title"
                >
                  New Device
                </h2>
                <div class="ml-3 flex h-7 items-center">
                  <button
                    type="button"
                    @click="newDeviceOpen = false"
                    class="relative rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
                  >
                    <span class="sr-only">Close panel</span>
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-1">
                <p class="text-sm text-indigo-300">
                  Fill in the details to create a new device.
                </p>
              </div>
            </div>
            <div class="px-4 sm:px-6 py-6 space-y-6">
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-900"
                  >Device Name</label
                >
                {{ form.name }}
              </div>
              <div>
                <label
                  for="type"
                  class="block text-sm font-medium text-gray-900"
                  >Device Type</label
                >
                {{ form.type }}
              </div>
              <div>
                <label
                  for="type"
                  class="block text-sm font-medium text-gray-900"
                  >Hardware ID</label
                >
                {{ form.hardware_id }}
              </div>
            </div>
          </div>
          <div class="flex justify-end px-4 py-4">
            <button
              type="button"
              @click="newDeviceOpen = false"
              class="rounded-md bg-white px-3 py-2 text-sm font-medium text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="ml-4 inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
 
    <script src="{% static 'js/vendors/alpinejs.min.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/vendors/chart.js' %}"></script>
    <script src="{% static 'js/vendors/moment.js' %}"></script>
    <script src="{% static 'js/vendors/chartjs-adapter-moment.js' %}"></script>
    <script src="{% static 'js/dashboard-charts.js' %}"></script>
    <script src="{% static 'js/vendors/flatpickr.js' %}"></script>
    <script src="{% static 'js/flatpickr-init.js' %}"></script>
    <script>
      function validateHWID() {
        const hardwareId = document.querySelector(
          'input[name="hardware_id"]'
        ).value;
        if (!/^\d{5}$/.test(hardwareId)) {
          alert('Hardware ID must be exactly 5 digits.');
          return false;
        }
        return true;
      }
    </script>
    {% block script %}{% endblock script %}
    <footer class="fixed bottom-4 right-4">
      <!-- <img
        src="{% static 'images/onem2m-logo.png' %}"
        alt="ACME Logo"
        width="150"
        height="75"
      /> -->
    </footer>
  </body>
</html>